<div class="admin-page-header">
    <h1 class="page-title">Admin</h1>
    <nav class="admin-nav-bar">
        <a asp-controller="AdminBooks" asp-action="Index">Books</a>
        <a asp-controller="AdminBookCategory" asp-action="Index">Book Categories</a>
        <a asp-controller="AdminBookAuthor" asp-action="Index">Book Authors</a>
        <a asp-controller="AdminPhoto" asp-action="Index">Photos</a>
        <a asp-controller="AdminOrder" asp-action="Index">Orders</a>
        <a asp-controller="AdminOrderDetails" asp-action="Index">Orders Details</a>
    </nav>
</div>