@model AppCore.Models.AuthModels.User

<form asp-controller="User" asp-action="Login" class="signin-form">
    <div class="signin-form-header">
        <h2>Already have an account?</h2>
        <span>Sign in with your email and password</span>
    </div>
    <div class="form-input">
        <label class="form-input-label" asp-for="Email">Email</label>
        <input type="text" asp-for="Email" required autocomplete="on" />
        <span class="form-error-msg"></span>
    </div>
    <div class="form-input">
        <label class="form-input-label" asp-for="Password">Password</label>
        <input type="password" asp-for="Password" class="singin" required autocomplete="of"/>
        <span class="form-error-msg"></span>
    </div>
    <button type="submit" class="btn form-btn">SIGN IN</button>
</form>