@model AppCore.Models.OrderModels.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <h4>Customer Info</h4>
            <div class="form-group">
                <label>First Name</label>
                <input name="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input name="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="Email" class="form-control" />
            </div>
            <br />
            <h4>Address Info</h4>
            <div class="form-group">
                <label>Street Address</label>
                <input name="StreetAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label>City</label>
                <input name="City" class="form-control" />
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input name="PostalCode" class="form-control" />
            </div>
            <div class="form-group">
                <label>Country</label>
                <input name="Country" class="form-control" />
            </div>
            <br />
            <h4>Order Info</h4>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fulfilled" /> @Html.DisplayNameFor(model => model.Fulfilled)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Canceled" /> @Html.DisplayNameFor(model => model.Canceled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <br />
            <h4>Order Details Info</h4>
@*            <div class="form-group">
                <label asp-for="" class="control-label"></label>
                <select asp-for="" class="form-control" asp-items="ViewBag.Books"></select>
            </div>*@
@*            <div class="form-group">
                <label>Unit Cost</label>
                <input name="Unitcost" class="form-control" />
            </div>
            <div class="form-group">
                <label>Total Cost</label>
                <input name="TotalCost" class="form-control" />
            </div>*@
            <div class="form-group">
                <label>Count</label>
                <input name="Count" type="number" step="1" class="form-control" />
            </div>
            <br/>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
