<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MindTheCodeApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MindTheCodeApp.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="overlay"></div>
<form class="signin-form">
    <div class="signin-form-header">
        <h2>Already have an account?</h2>
        <span>Sign in with your email and password</span>
    </div>
    <div class="form-input">
        <label class="form-input-label" for="Email">Email</label>
        <input type="text" name="Email"/>
        <span class="form-error-msg"></span>
    </div>
    <div class="form-input">
        <label class="form-input-label" for="Password">Password</label>
        <input type="password" name="Password"/>
        <span class="form-error-msg"></span>
    </div>
    <button class="btn">SIGN IN</button>
</form>
<header class="header">
    <div class="topbar">
        <a href="/index.html">
            <img class="logo"
                 alt="bookstore logo"
                 src="img/logos/logo-simple.png"/>
        </a>
        <div class="search-bar">
            <input type="text" placeholder="I'm looking for..."/>
            <button class="search-bar-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m19.6 21-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5 7.625 5 6.312 6.312 5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"/>
                </svg>
            </button>
        </div>
        <div class="topbar-menu">
            <div class="topbar-menu-icon-container">
                <svg class="cart-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z"/>
                </svg>
                <span class="cart-icon-total">€0.00</span>
                <div class="cart-dropdown-list">
                    <ul></ul>
                    <div class="cart-dropdown-list-footer-container">
                        <div class="hr-divider-90"></div>
                        <div class="cart-dropdown-list-total-container">
                            <span>TOTAL:</span>
                            <span class="cart-dropdown-list-total">€0.00</span>
                        </div>
                        <div class="cart-dropdown-list-btn-container">
                            <a href="#" class="link-btn" style="padding: 1.2rem">VIEW</a>
                            <a href="#" class="link-btn" style="padding: 1.2rem">CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topbar-menu-icon-container">
                <svg class="account-icon"
                     xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24">
                    <path d="M12 12q-1.65 0-2.825-1.175Q8 9.65 8 8q0-1.65 1.175-2.825Q10.35 4 12 4q1.65 0 2.825 1.175Q16 6.35 16 8q0 1.65-1.175 2.825Q13.65 12 12 12Zm-8 8v-2.8q0-.85.438-1.563.437-.712 1.162-1.087 1.55-.775 3.15-1.163Q10.35 13 12 13t3.25.387q1.6.388 3.15 1.163.725.375 1.162 1.087Q20 16.35 20 17.2V20Zm2-2h12v-.8q0-.275-.137-.5-.138-.225-.363-.35-1.35-.675-2.725-1.013Q13.4 15 12 15t-2.775.337Q7.85 15.675 6.5 16.35q-.225.125-.362.35-.138.225-.138.5Zm6-8q.825 0 1.413-.588Q14 8.825 14 8t-.587-1.412Q12.825 6 12 6q-.825 0-1.412.588Q10 7.175 10 8t.588 1.412Q11.175 10 12 10Zm0-2Zm0 10Z"/>
                </svg>
                <div class="account-dropdown-menu">
                    <button class="btn signin-btn">SIGN IN</button>
                    <div class="hr-divider-90"></div>
                    <span>Don't have an account?</span>
                    <a href="#" class="link-btn signup-btn">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar-main-container"
         style="@(ViewData["Title"].Equals("Home Page") ? Html.Raw("background-color:transparent") : Html.Raw(""))">
        <div class="navbar">
            <div class="navlink-shop-container">
                <span>SHOP</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/>
                </svg>
            </div>
            <a href="#" class="navlink">ABOUT US</a>
            <a href="#" class="navlink">CONTACT US</a>
        </div>
        <div class="navbar-dropdown-menu">
            <a href="" class="navbar-dropdown-menu-category">Bestsellers</a>
            <a href="" class="navbar-dropdown-menu-category">Children’s</a>
            <a href="" class="navbar-dropdown-menu-category">Non-Fiction</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Arts</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Biography</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Business</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Environmental</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Fashion</a>
            <a href="" class="navbar-dropdown-menu-subcategory">History</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Political</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Science</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Sports</a>
            <a href="" class="navbar-dropdown-menu-subcategory">Travel</a>
            <a href="" class="navbar-dropdown-menu-subcategory">True crime</a>

            <a href="" class="navbar-dropdown-menu-category">Finction</a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Action and adventure
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Crime and mystery
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">Romance</a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Speculative fiction
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Science fiction
            </a>
            <a href="" class="navbar-dropdown-menu-category">Finction</a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Action and adventure
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Crime and mystery
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">Romance</a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Speculative fiction
            </a>
            <a href="" class="navbar-dropdown-menu-subcategory">
                Science fiction
            </a>
        </div>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-inner-container">
            <a href="#">
                <img class="logo"
                     alt="bookstore logo"
                     src="img/logos/logo-white.png"/>
            </a>
            <div class="footer-info">
                <h3 class="footer-info-header">CONTACT US</h3>
                <ul class="footer-info-list">
                    <li class="footer-info-list-item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                            <path d="M12 12q.825 0 1.413-.588Q14 10.825 14 10t-.587-1.413Q12.825 8 12 8q-.825 0-1.412.587Q10 9.175 10 10q0 .825.588 1.412Q11.175 12 12 12Zm0 7.35q3.05-2.8 4.525-5.088Q18 11.975 18 10.2q0-2.725-1.738-4.463Q14.525 4 12 4 9.475 4 7.737 5.737 6 7.475 6 10.2q0 1.775 1.475 4.062Q8.95 16.55 12 19.35ZM12 22q-4.025-3.425-6.012-6.363Q4 12.7 4 10.2q0-3.75 2.413-5.975Q8.825 2 12 2t5.587 2.225Q20 6.45 20 10.2q0 2.5-1.987 5.437Q16.025 18.575 12 22Zm0-11.8Z"/>
                        </svg>
                        <address>Company address</address>
                    </li>
                    <li class="footer-info-list-item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                            <path d="M19.95 21q-3.225 0-6.287-1.438-3.063-1.437-5.425-3.8-2.363-2.362-3.8-5.425Q3 7.275 3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.225t.325.575l.65 3.5q.05.35-.012.637-.063.288-.288.513L6.975 10.9q1.05 1.8 2.638 3.375Q11.2 15.85 13.1 17l2.35-2.35q.225-.225.588-.338.362-.112.712-.062l3.45.7q.35.075.575.337.225.263.225.613v4.05q0 .45-.3.75t-.75.3ZM6.025 9l1.65-1.65L7.25 5H5.025q.125 1.025.35 2.025.225 1 .65 1.975Zm8.95 8.95q.975.425 1.988.675 1.012.25 2.037.325v-2.2l-2.35-.475ZM6.025 9Zm8.95 8.95Z"/>
                        </svg>
                        <span>210 745-321</span>
                    </li>
                    <li class="footer-info-list-item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                            <path d="m15.3 16.7 1.4-1.4-3.7-3.7V7h-2v5.4ZM12 22q-2.075 0-3.9-.788-1.825-.787-3.175-2.137-1.35-1.35-2.137-3.175Q2 14.075 2 12t.788-3.9q.787-1.825 2.137-3.175 1.35-1.35 3.175-2.138Q9.925 2 12 2t3.9.787q1.825.788 3.175 2.138 1.35 1.35 2.137 3.175Q22 9.925 22 12t-.788 3.9q-.787 1.825-2.137 3.175-1.35 1.35-3.175 2.137Q14.075 22 12 22Zm0-10Zm0 8q3.325 0 5.663-2.337Q20 15.325 20 12t-2.337-5.663Q15.325 4 12 4T6.338 6.337Q4 8.675 4 12t2.338 5.663Q8.675 20 12 20Z"/>
                        </svg>
                        <span>MON-SAT: 8:00AM - 6:30PM </span>
                    </li>
                    <li class="footer-info-list-item">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                            <path d="M4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm8-7L4 8v10h16V8Zm0-2 8-5H4ZM4 8V6v12Z"/>
                        </svg>
                        <span>info@bookstore.com </span>
                    </li>
                </ul>
            </div>
            <div class="footer-info">
                <h3 class="footer-info-header">INFORMATION</h3>
                <ul class="footer-info-list">
                    <li class="footer-info-list-item">
                        <span class="box-bullet-sm"></span><a href="#">About us</a>
                    </li>
                    <li class="footer-info-list-item">
                        <span class="box-bullet-sm"></span><a href="#">Shipping methods</a>
                    </li>
                    <li class="footer-info-list-item">
                        <span class="box-bullet-sm"></span><a href="#">Payment Methods</a>
                    </li>
                    <li class="footer-info-list-item">
                        <span class="box-bullet-sm"></span><a href="#">Terms of use</a>
                    </li>
                </ul>
            </div>
            <div class="footer-info">
                <h3 class="footer-info-header">JOIN US</h3>
                <nav class="footer-info-social">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/>
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <!--! Font Awesome Pro 6.3.0 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/>
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-bottom">Design & Develop by Team3</div>
</footer>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>