
<body style="text-align:center;">
    <div class="authors-page-content">
        <h1 class="page-title">About Us</h1>
        <div class="authors-page-items-container" >
            <div class="authors-page-item" style="flex-direction:row; flex-wrap:wrap;">
                <span>
                    <div>
                        <img src="img/us/EiriniAloupi.gif" alt="photo" />
                    </div>
                    <span style="text-align: left; font-size:medium;">Eirini Aloupi</span>
                </span>

                <span>
                    <div>
                        <img src="img/us/SpirosDimou.jpg" alt="photo" />
                    </div>
                    <span style="text-align: left; font-size:medium;">Spiros Dimou</span>
                </span>

                <span>
                    <div>
                        <img src="img/us/PetrosPapadopoulos.jpg" alt="photo" />
                    </div>
                    <span style="text-align: left; font-size:medium;">Petros Papadopoulos</span>
                </span>

                 <span>
                    <div>
                        <img src="img/us/GeorgeTasioulis.jpg" alt="photo" />
                    </div>
                    <span style="text-align: left; font-size:medium;">George Tasioulis</span>
                </span>

                <span>
                    <div>
                        <img src="img/us/SteliosVakoufis.jpg" alt="photo" />
                    </div>
                    <span style="text-align: left; font-size:medium;">Stelios Vakoufis</span>
                </span>
            </div>
        </div>
    </div>
</body>

