<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body style="text-align:center;">
    <div class="authors-page-content">
        <h1 class="page-title">Contact Us</h1>
        <div class="authors-page-items-container">
            <div class="authors-page-item">

                <span style="text-align: left; font-size:large;"><i class="fa fa-map-marker"></i> 4, Europe Avenue</span>

                <span style="text-align: left; font-size:large;">&#9990; 210 745-321</span>
                
                <span style="text-align: left; font-size:large;">&#128337; MON-SAT: 8:00AM - 6:30PM</span>

                <span style="text-align: left; font-size:large;">&#128231; info@bookstore.com</span>
                
            </div>
        </div>
    </div>
</body>