@{
    ViewData["Title"] = "Home Page";
}

<section class="carousel-container">
    <div class="carousel"
            style="background-image: url(/img/textures/gold-texture.jpg)">
        <div class="carousel-book-info-container">
            <h2 class="carousel-book-title">The Golden Spoon</h2>
            <h2 class="carousel-book-author">Tessa Maxwell</h2>
        </div>
        <img src="img/books/golden-spoon.jpg"
                alt="book cover"
                class="carousel-book-img" />
    </div>
    <div class="carousel"
            style="
        background-image: url(/img/textures/cyan-texture.jpg);
        display: none;
        ">
        <div class="carousel-book-info-container">
            <h2 class="carousel-book-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </h2>
            <h2 class="carousel-book-author">Dr. Mark Hyman MD</h2>
        </div>
        <img src="img/books/young-forever.jpg"
                alt="book cover"
                class="carousel-book-img" />
    </div>
    <div class="carousel"
            style="
        background-image: url(/img/textures/film-dust-texture.jpg);
        display: none;
        ">
        <div class="carousel-book-info-container">
            <h2 class="carousel-book-title">
                Never Never: A twisty, angsty romance
            </h2>
            <h2 class="carousel-book-author">Tessa Maxwell</h2>
        </div>
        <img src="img/books/never-never.jpg"
                alt="book cover"
                class="carousel-book-img" />
    </div>
    <div class="carousel-dots">
        <button class="carousel-dot carousel-dot-fill">&nbsp;</button>
        <button class="carousel-dot">&nbsp;</button>
        <button class="carousel-dot">&nbsp;</button>
    </div>
</section>
<section class="home-section-books">
    <div class="home-section-books-header">
        <div class="home-section-books-header-title">
            <div></div>
            <h2>Best Sellers</h2>
        </div>
        <a class="home-section-books-view-all" href="">
            <span>View All</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
            </svg>
        </a>
    </div>
    <div class="home-section-books-container">
        <div class="home-section-books-item">
            <img src="img/books/young-forever.jpg" alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Michael Connelly
            </a>
            <span class="home-section-books-item-price">€ 17.50</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/41AcjibKXcL._SY344_BO1,204,203,200_.jpg"
                    alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Maggie Shipstead
            </a>
            <span class="home-section-books-item-price">€ 31.00</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                    alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Dr. Mark Hyman MD Michael Connelly
            </a>
            <span class="home-section-books-item-price">€ 11.50</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/golden-spoon.jpg" alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Dr. Mark Hyman MD
            </a>
            <span class="home-section-books-item-price">€ 12.50</span>
        </div>
    </div>
</section>
<section class="home-section-books">
    <div class="home-section-books-header">
        <div class="home-section-books-header-title">
            <div></div>
            <h2>New Arrivals</h2>
        </div>
        <a class="home-section-books-view-all" href="">
            <span>View All</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
            </svg>
        </a>
    </div>
    <div class="home-section-books-container">
        <div class="home-section-books-item">
            <img src="img/books/41AcjibKXcL._SY344_BO1,204,203,200_.jpg"
                    alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Maggie Shipstead
            </a>
            <span class="home-section-books-item-price">€ 31.00</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/young-forever.jpg" alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Michael Connelly
            </a>
            <span class="home-section-books-item-price">€ 17.50</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/golden-spoon.jpg" alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Dr. Mark Hyman MD
            </a>
            <span class="home-section-books-item-price">€ 12.50</span>
        </div>
        <div class="home-section-books-item">
            <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                    alt="book cover" />
            <a href="#" class="home-section-books-item-title">
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
                Young Forever: The Secrets to Living Your Longest, Healthiest Life
            </a>
            <a href="#" class="home-section-books-item-author">
                Dr. Mark Hyman MD Michael Connelly
            </a>
            <span class="home-section-books-item-price">€ 11.50</span>
        </div>
    </div>
</section>
<section class="home-section-authors">
    <div class="home-section-authors-header">
        <div class="home-section-authors-header-title">
            <div></div>
            <h2>Favorite Authors</h2>
        </div>
        <a class="home-section-authors-view-all" href="">
            <span>View All</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
            </svg>
        </a>
    </div>
    <div class="home-section-authors-container">
        <div class="home-section-authors-item">
            <div>
                <img src="img/authors/christopher-paolini-1.jpeg" alt="author" />
            </div>
            <a href="">
                <span>Christopher Paolini</span>
            </a>
        </div>
        <div class="home-section-authors-item">
            <div>
                <img src="img/authors/colleen-hoover-3.jpeg" alt="author" />
            </div>
            <a href="">
                <span>Colleen-Hoover</span>
            </a>
        </div>
        <div class="home-section-authors-item">
            <div>
                <img src="img/authors/dav-pilkey-4.jpeg" alt="author" />
            </div>
            <a href="">
                <span>Dav Pilkey</span>
            </a>
        </div>
        <div class="home-section-authors-item">
            <div>
                <img src="img/authors/james-clear-1.jpeg" alt="author" />
            </div>
            <a href="">
                <span>James Clear</span>
            </a>
        </div>
        <div class="home-section-authors-item">
            <div>
                <img src="img/authors/robert-greene-5.jpeg" alt="author" />
            </div>
            <a href="">
                <span>Robert Greene</span>
            </a>
        </div>
    </div>
</section>
