<body style="text-align:center;">
    <div class="authors-page-content">
        <h1 class="page-title">Payment Methods</h1>
        <div class="authors-page-items-container">
            <div class="authors-page-item">

                <span style="text-align: left; font-size:large;">Any kind of money is accepted!</span>

            </div>
        </div>
    </div>
</body>
