<body style="text-align:center;">
    <div class="authors-page-content">
        <h1 class="page-title">Terms of Use</h1>
        <div class="authors-page-items-container">
            <div class="authors-page-item">

                <span style="text-align: left; font-size:large;">Positive Attitude!</span>

            </div>
        </div>
    </div>
</body>