
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>HELLO</h1>
<form asp-controller="Testing" asp-action="Register" method="post">
    <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>


@Html.Raw(TempData["msg"])
