@{
    ViewData["Title"] = "Author Page";
}

<div class="author-page-content">
    <section class="author-page-author-section">
        <div class="author-page-author-img-container">
            <img src="/img/authors/colleen-hoover-3.jpeg" alt="" />
        </div>
        <div class="author-page-author-details">
            <h2>Mark Hyman, MD</h2>
            <p>
                Mark Hyman, MD, is the director of the Cleveland Clinic Center for
                Functional Medicine, and founder and director of The
                Ultra-Wellness Center. He is the bestselling author of numerous
                books, including Eat Fat, Get Thin, The Blood Sugar Solution
                10-Day Detox Diet, and The Blood Sugar Solution.
            </p>
        </div>
    </section>
    <section class="author-page-books-container">
        <h2>Books of Mark Hyman, MD</h2>
        <div class="author-page-books">
            <div class="product-card">
                <img src="img/books/51mN3bY0JjL._SY344_BO1,204,203,200_.jpg"
                     alt="" />

                <a href="#" class="product-card-title"> The Handmaid's Tale </a>
                <a href="#" class="product-card-author"> Margaret Atwood</a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
            <div class="product-card">
                <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                     alt="" />

                <a href="#" class="product-card-title"> The Great Gatsby </a>
                <a href="#" class="product-card-author"> F. Scott Fitzgerald </a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
            <div class="product-card">
                <img src="img/books/41iqgj-ImVL._SY344_BO1,204,203,200_.jpg"
                     alt="" />

                <a href="#" class="product-card-title">
                    Little Fires Everywhere
                </a>
                <a href="#" class="product-card-author"> Celeste Ng </a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
            <div class="product-card">
                <img src="img/books/golden-spoon.jpg" alt="" />

                <a href="#" class="product-card-title"> The Girl on the Train </a>
                <a href="#" class="product-card-author"> Paula Hawkins</a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
            <div class="product-card">
                <img src="img/books/young-forever.jpg" alt="" />

                <a href="#" class="product-card-title"> To Kill a Mockingbird </a>
                <a href="#" class="product-card-author"> Harper Lee </a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
            <div class="product-card">
                <img src="img/books/never-never.jpg" alt="" />

                <a href="#" class="product-card-title">
                    Sapiens: A Brief History of Humankind
                </a>
                <a href="#" class="product-card-author"> Yuval Noah Harari </a>
                <span class="product-card-price">€ 12.00</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     height="24"
                     width="24"
                     class="product-card-bag-icon">
                    <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                </svg>
            </div>
        </div>
    </section>
</div>