@model MindTheCodeApp.ViewModels.OrderVMs.CreateOrderDetailsVM
@{
    ViewData["Title"] = "Create Order Details";
}

@Html.Partial("PartialViews/_AdminMenuPartial");

<div class="admin-page-content">
    <h1 class="page-title">Create Order Der</h1>

    <form class="admin-page-form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="admin-page-form-group">
            <label asp-for="OrderId" class="control-label"></label>
            <select asp-for="OrderId" class="form-control" asp-items="ViewBag.Orders"></select>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="BookId" class="control-label">Book Title</label>
            <select asp-for="BookId" class="form-control" asp-items="ViewBag.Books"></select>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="UnitCost" class="control-label"></label>
            <input asp-for="UnitCost" class="form-control" />
            <span asp-validation-for="UnitCost" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="TotalCost" class="control-label"></label>
            <input asp-for="TotalCost" class="form-control" />
            <span asp-validation-for="TotalCost" class="text-danger"></span>
        </div>
        <button type="submit" class="btn">
            CREATE
        </button>
    </form>
    <a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}