@model MindTheCodeApp.ViewModels.OrderVMs.CreateOrderVM
@{
    ViewData["Title"] = "Create";
}

@Html.Partial("PartialViews/_AdminMenuPartial");

<h1>Create</h1>

<h4>Order</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fulfilled"/> @Html.DisplayNameFor(model => model.Fulfilled)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active"/> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Canceled"/> @Html.DisplayNameFor(model => model.Canceled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control"/>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <label asp-for="AddressInformationId" class="control-label">Street Address</label>
                <select asp-for="AddressInformationId" class="form-control" asp-items="ViewBag.Addresses"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}