@model MindTheCodeApp.ViewModels.OrderVMs.CreateOrderVM
@{
    ViewData["Title"] = "Create Order";
}

@Html.Partial("PartialViews/_AdminMenuPartial");

<div class="admin-page-content">
    <h1 class="page-title">Create Order</h1>

    <form class="admin-page-form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="admin-page-form-group">
            <label asp-for="UserId" class="control-label">User</label>
            <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"></select>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Fulfilled" /> @Html.DisplayNameFor(model => model.Fulfilled)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Canceled" /> @Html.DisplayNameFor(model => model.Canceled)
            </label>
        </div>
        <div class="admin-page-form">
            <label asp-for="AddressInformationId" class="control-label">Street Address</label>
            <select asp-for="AddressInformationId" class="form-control" asp-items="ViewBag.Addresses"></select>
        </div>
        <div class="admin-page-form">
            <label asp-for="Cost" class="control-label"></label>
            <input asp-for="Cost" class="form-control" />
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <button type="submit" class="btn">
            CREATE
        </button>
    </form>
    <a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}