@model MindTheCodeApp.ViewModels.OrderVMs.EditOrderVM

@{
    ViewData["Title"] = "Edit Order";
}

@Html.Partial("PartialViews/_AdminMenuPartial");

<div class="admin-page-content">
    <h1 class="page-title">Edit Order</h1>
    <form class="admin-page-form" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="admin-page-form-error-msg"></div>
            <input type="hidden" asp-for="EditOrderId"/>
        <div class="admin-page-form-group-select">
                <label class="form-check-label">
                     @Html.DisplayNameFor(model => model.Fulfilled)
                </label>
            <input class="form-check-input" asp-for="Fulfilled" />
            </div>
        <div class="admin-page-form-group-select">
                <label class="form-check-label">
                     @Html.DisplayNameFor(model => model.Active)
                </label>
                <input class="form-check-input" asp-for="Active" />
         </div>
            
        <div class="admin-page-form-group-select">
                <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Canceled)
                </label>
                <input class="form-check-input" asp-for="Canceled"/>
            </div>
        <div class="admin-page-form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control"/>
                <span asp-validation-for="Cost" class="admin-page-form-error-msg"></span>
            </div>
        <div class="admin-page-form-group">
                <label asp-for="OrderCreated" class="control-label"></label>
                <input asp-for="OrderCreated" class="form-control"/>
                <span asp-validation-for="OrderCreated" class="admin-page-form-error-msg"></span>
            </div>
        <div class="admin-page-form-group">
                <label asp-for="UserId" class="control-label">Category</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users" value="ViewBag.Value"></select>
            </div>

        <div class="admin-page-form-group">
                <label asp-for="AddressInformationId" class="control-label">Address</label>
                <select asp-for="AddressInformationId" class="form-control" asp-items="ViewBag.Addresses" value="ViewBag.Value"></select>
            </div>
        <button type="submit" class="btn">SAVE</button>
        </form>
        <a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}