<div class="product-page-content">
    <section class="product-page-product">
        <img src="/img/books/never-never.jpg" alt="" />
        <div class="product-page-product-info">
            <h2 class="product-page-product-title">
                Never Never: A twisty, angsty romance Never Never: A twisty,
                angsty romance Never Never: A twisty, angsty romance Never Never:
                A twisty, angsty romance Never Never: A twisty, angsty romance
            </h2>
            <div class="product-page-product-author">
                by
                <a href="">Colleen Hoove</a>
            </div>
            <div class="hr-divider-100"></div>
            <span class="product-page-product-availability">Available</span>
            <span class="product-page-product-price">€12.00</span>
            <div class="product-page-product-btns">
                <div class="number-input-container">
                    <button class="number-input-minus product-page">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24"
                             width="24">
                            <path d="M5 13v-2h14v2Z" />
                        </svg>
                    </button>
                    <input type="text"
                           name=""
                           id=""
                           value="1"
                           class="product-page" />
                    <button class="number-input-plus product-page">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24"
                             width="24">
                            <path d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6Z" />
                        </svg>
                    </button>
                </div>
                <button class="btn product-page-add-to-cart">ADD TO CART</button>
                <a href="" class="link-btn-revert">BUY NOW</a>
            </div>
            <div class="hr-divider-100"></div>
            <p class="product-page-product-description">
                Aging has long been considered a normal process. We think disease,
                frailty, and gradual decline are inevitable parts of life. But
                they don’t have to be. Science today sees aging as a treatable
                disease. By addressing its root causes we can not only increase
                our health span and live longer but prevent and reverse the
                maladies of aging—including heart disease, cancer, diabetes, and
                dementia. In Young Forever, Dr. Mark Hyman challenges us to
                reimagine our biology, health, and the process of aging. To
                uncover the secrets to longevity, he explores the biological
                hallmarks of aging, their causes, and their consequences—then
                shows us how to overcome them with simple dietary, lifestyle, and
                emerging longevity
            </p>
        </div>
    </section>
    <div class="hr-divider-100"></div>
    <section class="product-page-author">
        <div class="product-page-author-img-container">
            <img src="/img/authors/colleen-hoover-3.jpeg" alt="" />
        </div>
        <div class="product-page-author-info">
            <h4>About the Author</h4>
            <p>
                Mark Hyman, MD, is the director of the Cleveland Clinic Center for
                Functional Medicine, and founder and director of The
                Ultra-Wellness Center. He is the bestselling author of numerous
                books, including Eat Fat, Get Thin, The Blood Sugar Solution
                10-Day Detox Diet, and The Blood Sugar Solution.
            </p>
        </div>
    </section>
</div>