@{
    ViewData["Title"] = "Home Page Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin Site for Book Shop</h1>
    <ul>
        <a asp-controller="Books" asp-action="Index">Books</a>
        <a asp-controller="BookCategory" asp-action="Index">Book Categories</a>
        <a asp-controller="BookAuthor" asp-action="Index">Book Authors</a>
        <a asp-controller="BookPhoto" asp-action="Index">Book Photos</a>
        <a asp-controller="Order" asp-action="Index">Orders</a>
        <a asp-controller="OrderDetails" asp-action="Index">Orders Details</a>
    </ul>
</div>