@model MindTheCodeApp.ViewModels.BookVMs.PhotoVM
@{
    ViewData["Title"] = "UploadImage";
}
@Html.Partial("PartialViews/_AdminMenuPartial");

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsBook" /> @Html.DisplayNameFor(model => model.IsBook)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsAuthor" /> @Html.DisplayNameFor(model => model.IsAuthor)
        </label>
    </div>
    <div>
        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile" type="file">
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit">Upload</button>
</form>

@*@if (Model.ImageFile != null)
{
    <div>
        <img src="@Url.Content(Model.ImagePath)" alt="Uploaded image">
    </div>
}
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}