@{
    ViewData["Title"] = "Register";
}


<div class="signup-page-container">
    <h1 class="page-title">Create Account</h1>
    <form class="signup-page-form" asp-controller="Auth" asp-action="Register" method="post">
        <div class="signup-page-form-section-header">
            <h3>Login Info</h3>
            <div class="hr-divider-100"></div>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="email">Email *</label>
            <input type="text" id="email" name="email" required />
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs password-confirmation">
            <div class="form-input">
                <label class="form-input-label" for="new-password">Password *</label>
                <input type="password" name="Password" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="password-confirmation">
                    Confirm password *
                </label>
                <input type="password" name="password-confirmation"  />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="signup-page-form-section-header">
            <h3>Personal Info</h3>
            <div class="hr-divider-100"></div>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="FirstName">First name *</label>
                <input type="text" name="FirstName" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="LastName">Last name *</label>
                <input type="text" name="LastName" />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="custom-select">
            <div class="custom-select-container form-select required">
                <label class="form-input-label" for="Country">Country *</label>
                <input type="text" name="Country" placeholder="Country" />
                <span class="custom-select-text"></span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
                </svg>
                <ul class="custom-select-container-dropdown-list">
                    <li>Greece</li>
                    <li>Cyprus</li>
                </ul>
            </div>
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="City">Town / City *</label>
                <input type="text" name="City" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="PostalCode">Zip code *</label>
                <input type="text" name="PostalCode" />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="StreetAddress">Street address *</label>
            <input type="text" name="StreetAddress" />
            <span class="form-error-msg"></span>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="phone">Phone *</label>
            <input type="text" name="Phone" />
            <span class="form-error-msg"></span>
        </div>
        <button type="submit" class="btn-revert form-btn">SIGN UP</button>
        <input type="submit" value="Hello" />
    </form>
</div>

<!--Allert Message-->
@Html.Raw(TempData["msg"])