<div class="checkout-page-container">
    <h1 class="page-title">Checkout</h1>
    <div class="checkout-page-content">
        <form class="checkout-page-form-container">
            <div class="checkout-form-fullname">
                <div class="form-input">
                    <label class="form-input-label" for="first-name">First name</label>
                    <input type="text" name="first-name" />
                    <span class="form-error-msg"></span>
                </div>
                <div class="form-input">
                    <label class="form-input-label" for="last-name">Last name</label>
                    <input type="text" name="last-name" />
                    <span class="form-error-msg"></span>
                </div>
            </div>
            <div class="custom-select checkout-form-country">
                <div class="custom-select-container">
                    <label class="form-input-label" for="country">Country</label>
                    <input type="text" name="country" placeholder="Country" />
                    <span class="custom-select-text"></span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                        <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
                    </svg>
                    <ul class="custom-select-container-dropdown-list">
                        <li>Greece</li>
                        <li>Cyprus</li>
                    </ul>
                </div>
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input checkout-form-city">
                <label class="form-input-label" for="City">Town / City</label>
                <input type="text" name="city" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input checkout-form-zip-code">
                <label class="form-input-label" for="zip-code">Zip code</label>
                <input type="text" name="zip-code" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input checkout-form-street-address">
                <label class="form-input-label" for="street-address">Street address</label>
                <input type="text" name="street-address" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input checkout-form-phone">
                <label class="form-input-label" for="phone">Phone</label>
                <input type="text" name="phone" />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input checkout-form-email">
                <label class="form-input-label" for="email">Email</label>
                <input type="text" name="email" />
                <span class="form-error-msg"></span>
            </div>
        </form>
        <section class="checkout-page-details-container">
            <div class="checkout-page-details">
                <h4>Product</h4>
                <h4>Subtotal</h4>
                <div class="hr-divider-100 checkout-page"></div>
                <span class="checkout-page-details-title">
                    1600.io SAT Math Orange Book Volume I: Every SAT Math
                </span>
                <span class="checkout-page-details-quantity">X2</span>
                <span class="checkout-page-details-title">€12.00</span>
                <span class="checkout-page-details-title">
                    1600.io SAT Math Orange Book Volume I: Every SAT Math
                </span>
                <span class="checkout-page-details-quantity">X1</span>
                <span class="checkout-page-details-title">€12.00</span>
                <span class="checkout-page-details-title">Spare </span>
                <span class="checkout-page-details-quantity">X4</span>
                <span class="checkout-page-details-title">€56.00</span>
            </div>
            <div class="hr-divider-100"></div>
            <div class="checkout-page-details-total">
                <div>
                    <span>Total:</span>
                    <span>€95.70</span>
                </div>
                <button class="btn-revert">PLACE ORDER</button>
            </div>
        </section>
    </div>
</div>