@model MindTheCodeApp.ViewModels.BookVMs.BookVM

@{
    ViewData["Title"] = "Create Book";
}

<div class="admin-page-content">
    <h1 class="page-title">Create Book</h1>
    <form class="admin-page-form" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="admin-page-form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="Count" class="control-label"></label>
            <input asp-for="Count" class="form-control"/>
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="BookCategoryId" class="control-label"></label>
            <select asp-for="BookCategoryId" class="form-control" asp-items="ViewBag.BookCategories"></select>
        </div>
        <div class="admin-page-form-group">
            <label asp-for="BookAuthorId" class="control-label"></label>
            <select asp-for="BookAuthorId" class="form-control" asp-items="ViewBag.BookAuthors"></select>
        </div>
        @*            <div class="admin-page-form-group">
            <label asp-for="PhotoId" class="control-label"></label>
            <select asp-for="PhotoId" class="form-control" asp-items="ViewBag.BookPhoto"></select>
        </div>*@
        <button type="submit" class="btn">
            CREATE
        </button>
    </form>
    <a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}