@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="AdminBooks" asp-action="UploadCsv" method="post" enctype="multipart/form-data">
    <div class="admin-page-form-group">
        <label for="file">Select a CSV file to upload:</label>
        <input type="file" name="file" id="file" class="form-control-file">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>