@model List<AppCore.Models.BookModels.BookCategory>

@foreach (var category in @Model)
{
    <a class="navbar-dropdown-menu-subcategory" href="@Url.Action("SearchByCategory", "Shop", new{categoryName = category.Title})">@category.Title</a>
}