@model List<AppCore.Models.BookModels.BookCategory>

@foreach (var category in @Model)
{
    <a class="navbar-dropdown-menu-subcategory" asp-controller="Shop" asp-action="SearchByCategory" asp-route-id="@category.CategoryId">@category.Title</a>
}